[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
psycopg2 = "*"
django = "*"
pytest-django = "*"
django-extensions = "*"
honeycomb-beeline = "*"
noaa-sdk = {editable = true, git = "https://github.com/paulokuong/noaa.git"}
redis = "*"
celery = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
